@import "variables.scss";
@import "mixins.scss";
@import "nullstyle.scss";

/*------------------------Fonts Import----------------------------------*/

/*--------------- @import url('&display=swap');--------*/
@import url('https://fonts.googleapis.com/css?family=Roboto+Slab:300,regular,700&display=swap');
@import url('https://fonts.googleapis.com/css?family=Roboto:regular&display=swap');
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,regular,700&display=swap');
@font-face {
    font-family: 'Gotham';
    src: url('../fonts/Gotham-Black.woff2') format('woff2'),
        url('../fonts/Gotham-Black.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}
/*------------------------Fonts Import----------------------------------*/
html {
    font-family: 'Roboto Slab';
}
body {
    color: $darkGrey;
    &._lock {
        overflow: hidden;
    }
    & a {
        color: #373838;
    }
}
.wrapper {
    min-height: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    font-size: rem($fontSizeBase); /* 14/16 */
}

.main {
    flex: 1 1 auto;

}
[class*=_container-big] {
    padding: 0 10px;
    @media (min-width: ($md2+px)){
        max-width: $maxwidth + px;
        margin: 0 auto;
    }
}
[class*=_container-small] {
    @media (min-width: (1011+px)){
        max-width: 1010px;
        margin: 0 auto;
    }
    @media (max-width: (1010px)){
        padding: 0 10px;
    }
}

.title {
    @include adaptiv-value("font-size", 50, 30, 1);
}
.sub-title {
    font-size: rem(40);
    font-weight: 700;
    line-height: 0.55; /* 22/40 */
}

@import "header.scss";
@import "main.scss";
@import "footer.scss";
